/* Espace libre pour rajouter des fonts */
/* début ligne Alexandre */



/* fin ligne Alexandre  */
/* début ligne Baptiste  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;900&display=swap');


/* fin ligne Baptiste  */
/* début ligne Gaspard  */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* fin ligne Gaspard */



/* Style général, on n'y touche pas ! */
*{
padding: 0px;
margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
  }

/* fin style général */

/* <!-- début header + nav Baptiste--> */

#menu {
  height: 0px;
}

.burger {
  outline: none;
  appearance: none;
  z-index: 2;
  display: block;
  position: fixed;
  margin: 29px;
  color: white;
  transition: .8s;
}

.contenu_nav {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  transform:translateY(-100vh);
  transition: .8s;
  opacity: 0;
  z-index: 1;
  font-family: 'Poppins', sans-serif;
}

.burger:hover {
  cursor : pointer ; 
}

.burger:checked {
  color: black;
}

.burger:checked + .contenu_nav {
  transform:translateY(0);
  opacity: 1;
  /* top: 0; */
  position: fixed; 
  height: 100vh;
  transition: .8s;
}

/* ----------------------------------------------------------------------------------------------------CSS MENU DEROULANT-------------------------------------------------------------------------------------- */

#menu_deroulant  a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

#menu_deroulant > li {
  padding: 10px;
  margin: 10px;
}

#menu_deroulant {
  display: flex ; 
  justify-content: center;
  list-style: none;
  text-align: center;
  width: 95vw;
}
#menu_deroulant ul > li {
  padding : 10px ; 
  list-style: none;
}

.deroulant1,.deroulant2 {
  overflow: hidden;
  
}
.deroulant1 {
  font-weight: 700;
} 

.deroulant1:hover .sous1 {
  max-height: 50em;
  opacity: 1;
}

.choix_continent:checked + .sous2 {
  max-height: 50em;
  opacity: 1;
}  

.choix_continent:after {
  content: "Europe";
}

.sous1,.sous2 {
  max-height: 0;
  opacity: 0;
  transition: all .5s;
  font-weight: 400;
}

.sous2 li {
  background-color: rgba(128, 128, 128, 0.548);
  border-radius: 2em;
  margin: 5px;
  font-size: 0.8em;
}

#menu_deroulant .arrow:after {
  content: "\279C" ;
  padding : 5px ; 
  display: inline-block;
  transition: .3s;
}

.deroulant1:hover .arrow:after {
  transform: rotate(90deg);
}

.deroulant2 input {
  outline: none;
  appearance: none;
  text-transform: uppercase;
  cursor: pointer;
}
.choix_continent:after {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
}
.asie:after {
  content : "Asie" ; 
}

.amerique:after {
  content : "Amérique" ; 
}

.afrique:after {
  content : "Afrique" ; 
}

/* ------------------------------------------------------------------------------------------------------------FIN CSS MENU DEROULANT------------------------------------------------------------------------------ */

/*---------------------------------------------------------------------------------------------------------------- CSS BANNIERE ------------------------------------------------------------------------------------*/
.banniere_photo {
 
  overflow: visible;
  width: 3000px;

}
.contenu_banniere_photo {
  display: flex;
  flex-wrap: nowrap;
  animation : translateX 30s infinite ; 
  
}
.contenu_banniere_photo div {
  width : 30vw ; 
}

.contenu_banniere_photo div img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

@keyframes translateX {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-90vw) ;
  }

  100% {
    transform: translateX(0);
  }
}

/* --------------------------------------------------------------------------------  CSS NEWSLETTER -------------------------------------------------------------------------------------------------------- */

.contenu_inscription_newsletter {
  display : flex ; 
  align-items: center;
  width: 95vw;
}

.bloc_nl {
  width : 20% ; 
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px gray solid;
  padding: 30px;
  margin: 40px ; 
}

.searchbar {
  width: 60%;
  display: flex;
  justify-content: center;
}

.bloc_nl h1{
  font-size: 1vw;
  letter-spacing: 0.4em;
}

.bloc_nl p {
  font-size: 3vw;
  color: rgb(21, 21, 71);
  font-weight: 300;
  
}

.barre_recherche input {
  width : 30vw ;  
  padding: 30px;
  border: none;
  background-color:rgba(8, 8, 71, 0.712);
  outline: none;
}

.barre_recherche input:focus {
  background-color: rgba(8, 8, 71, 0.37) ;
}

.barre_recherche button {
  padding: 28px;
  color: white;
  background-color: rgb(8, 8, 71) ;
  border : none ; 
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  transition: .2s;
  outline: none;
}

.barre_recherche button:hover {
  background-color: white;
  color: rgb(21, 21, 71);
  border: 4px solid rgb(21, 21, 71) ;
  cursor: pointer;
}

.barre_recherche input::placeholder {
  color: white ; 
  font-size: 1.2em;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

/* ------------------------------------------ CSS RESEAUX SOCIAUX ----------------------------------------------*/
.contenu_nav .contenu_rs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95vw;
}

.contenu_nav .contenu_rs a {
  text-decoration: none;
  color:  rgb(21, 21, 71) ;
  display: block;
  margin : 10px 20px ; 
  transition: .4s;
}

.contenu_nav .contenu_rs a:hover {
  transform: translateY(-5px) ; 
}

/* <!-- fin header Baptiste --> */
/* <!-- début main Alexandre--> */




















































































































































































































































































































































































































































































































































































/* <!-- début footer Gaspard--> */

#footer_contain_all {
  height: 85vh;
  width: 100%;
  background-image: url(../media/photos/footer_backgrond.png);
  background-position: 48%;
  background-repeat: no-repeat;
  background-size: 5%;
}

#footer_contain_margin {
  width: 90%;
  margin: auto;
}

#footer_contain_titre {
  display: flex;
  flex-direction: column;
}

#footer_contain_titre h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-family: 'Poppins', sans-serif;
  font-size: 4vh;
}

#footer_sous_titre {
  display: flex;
}

#footer_sous_titre h2 {
  width: 50%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer_contain_map_form {
  display: flex;
  justify-content: space-evenly;
  height: 60vh;
  margin-bottom: 4%;
}


#footer_map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  background: url(../media/photos/—Pngtree—green\ minimalist\ earth\ woods\ round_4639694.png);
  background-position: center;
  align-items: center;
  background-repeat: no-repeat;
  overflow: visible;
  background-size: cover;
  border-radius: 50%;
}


#footer_map_background_contain {
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  width: 50%;
  height: 60%;
  min-width: 250px;
  min-height: 200px;
  max-height: 62%;
}


#footer_map_background_contain iframe {
    width: 100%;
    height: 100%;
  object-fit: cover;
}


#footer_form {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../media/photos/macintosh_black.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  mix-blend-mode: overlay;
}

#footer_form_form {
  height: 30%;
  margin-bottom: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

#footer_form_form input {
  margin-top: 8%;
}

/* animation form  */

#footer_form input {
  font-family: 'Press Start 2P';
  cursor: pointer;
  font-size: 1vw;
  outline: none;
  border: 1px solid white;
}

#footer_name {
  outline: none;
}

#footer_form input:focus {
  background-color: purple;
}

#footer_form_title {
  font-family: 'Press Start 2P';
  display:inline-block;
  padding-right:5px;
  border-right:10px solid #fff;
  animation: blink 1s infinite;
  font-size: 2vw;
  color: white;
}

#footer_form_title:hover {
  animation: blink_2 1s infinite;
}


#footer_form_title:hover {
  color: purple;
}

@keyframes blink{
  0%{
    border-right-color:transparent;
  }
  50%{
    border-right-color:transparent;
  }
  51%{
    border-right-color:#fff;
  }
  100%{
    border-right-color:#fff;
  }
}

@keyframes blink_2 {
  0%{
    border-right-color:transparent;
  }
  50%{
    border-right-color:transparent;
  }
  51%{
    border-right-color:purple;
  }
  100%{
    border-right-color:purple;
  }
}

#retro_warrior {
  font-family: 'Press Start 2P';
  font-size: 2vw;
}

#road_warrior {
  font-family: 'Oswald', sans-serif;
  font-size: 3vw;
}

/* social media */

#ft_row_socialmedia {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
 
}

#ft_pin {
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0, 0.5);
  width: 100%;
  height: 15vh;
}

#ft_pin ul {
  padding-top: 2%;
  list-style: none;  
} 


#ft_pin a {
  text-decoration: none;
  color: #F2B705;
}

#bot_nav {
  display: flex;
  justify-content: center;
}

#bot_liste  {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}

.fab {
  font-size: 2vw;
}


.fab::after {
    content: '';
    display: block;
    width: 0;
    height: 0.4vh;
    background: rgba(3, 3, 3, 0.747);
    transition: width .3s;
    margin-right: 0;
}

.fab:hover::after {
  width: 100%;
  transition: width .3s;
}

.bot_sous_titre {
  font-family: 'Poppins', sans-serif;
  font-size: 2vh;
}
