
#taiwan_body {
    all: initial;
}

#taiwan_main {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: blue;
}

.taiwan_container_bloc {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.taiwan_bloc_up {
    height: 49%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taiwan_icone {
    width: 20%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: -10%;
    background-image: url(../media/photos/test-lapin-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.taiwan_lign_middle {
    height: 2%;
    width: 100%;
    background-color: black;
}

.taiwan_bloc_down {
    height: 49%;
    width: 390vw;
    display: flex;
    background-color: seagreen;
    position: fixed;
    top: 26%;
    left: 0;
    animation: accueil_wrap_text 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
  @keyframes accueil_wrap_text {
    to {
    transform: translateX(-260vw); 
    }
  }


.taiwan_bloc_down_container {
    height: 100%;
    width: 98vw;
    display: flex;
}

.taiwan_bloc_down_img {
    width: 50%;
    height: 100%;
}

.taiwan_bloc_down_img a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taiwan_bloc_down_img img {
    height: 90%;
    width: 90%;
    border-radius: 10px;
}

.taiwan_bloc_down_text {
    width: 50%;
    height: 100%;
}

.taiwan_bloc_down_text article {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taiwan_bloc_down_text h2 {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}