

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300&display=swap');/* Espace libre pour rajouter des fonts */



























































































































































































































































































































/* ____________________________________________________ début css acceuil section centrale _______________________________________________________ */

.fond-ecran {
    height: 100vh;
    width: 100%;
}

#click-travel{
    top: 20vh;
    left: 70vw;
    position: absolute;
    width: 8%;
}
/* #slider{
    position: relative;
} */
#slider a{
    top: 10vh;
    left: 10vw;
    position: absolute;
    color: rgb(153, 220, 122);
}
#slider h1{
    position: absolute;
    top: 68vh;
    left: 10vw;
    font-size: 10vh;
    color: cornsilk;
    font-family: 'Special Elite', cursive;
}
#slider h2{
    position: absolute;
    top: 80vh;
    left: 10vw;
    font-size: 8vh;
    color: rgb(153, 220, 122);
    font-family: 'Hind Guntur', sans-serif;
}
#slide1 {
    position: absolute;
    opacity: 1;
}
#slide2 {
    position: absolute;
    opacity: 0;
}
#slide3 {
    position: absolute;
    opacity: 0;
}
#slide4 {
    position: absolute;
    opacity: 0;
}
#slide5 {
    position: absolute;
    opacity: 0;
}
#slide6 {
    position: absolute;
    opacity: 0;
}
#slide7 {
    position: absolute;
    opacity: 0;
}
#slide8 {
    position: absolute;
    opacity: 0;
}
#slide9 {
    position: absolute;
    opacity: 0;
}
#slide10 {
    position: absolute;
    opacity: 0;
}
#slide11 {
    position: absolute;
    opacity: 0;
}
#slide12 {
    position: absolute;
    opacity: 0;
}




/* ________________________ présentation Alex __________________________ */
#presentation_accueil_alex{
    display: flex;
    position: relative;
    top: 100vh;
    width: 100%;
    height: 100vh;
}
#presentation_accueil_alex img{
    width: 60vh;
    transition: .3s;

}
.presentation_accueil_alex_section_photo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    min-width: 40vh;
    background-color: rgb(220, 255, 228);

    overflow: hidden;
}
#overlay_photo_alex {
    display: flex;
    justify-content: center;
    align-items: center;
}
   /* Apparition overlay sur passage souris */
   #overlay_photo_alex:hover #titre_photo_alex_islande {
    opacity: 1;
    transform: scale(1.1); 
   }
   #overlay_photo_alex:hover  #photo_alex_islande {
    transform: scale(0.9); 
    transition: .3s ;
    filter: blur(4px);

   }
   #overlay_photo_alex  h1{
    position: absolute;
    color: honeydew;
    font-size: 4em;
    transition: .3s ;
    opacity: 0;
    font-family: 'Hind Guntur', sans-serif;
}

#presentation_accueil_alex_liens_destinations{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: lawngreen; */
    font-family: 'Hind Guntur', sans-serif;
}
#lien_iceland{
    width: 100%;
    height: 45.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#lien_iceland h1{
    position: absolute;
    font-size: 4em;
    color: rgb(153, 220, 122);
    transition: 1s;
}
#lien_iceland img{
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    object-fit: cover;
}
#lien_iceland:hover #presentation_equipe_image_lien_iceland{
    opacity: 1;
}
#lien_iceland:hover h1{
    opacity: 0;
    transform: scale(0);
}
#titre_choix_destination_alex{
    all: initial;
    font-size: 2em;
    color: rgb(73, 73, 73);
    text-align: center;
}
#presentation_accueil_alex_liens_destinations hr{
    margin: 0.8vh;
    width: 50%;
}

#lien_egypte{
    width: 100%;
    height: 45.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#lien_egypte h1{
    position: absolute;
    font-size: 4em;
    color: rgb(153, 220, 122);
    transition: 1s;
}
#lien_egypte img{
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    object-fit: cover;
}
#lien_egypte:hover #presentation_equipe_image_lien_egypte{
    opacity: 1;
}
#lien_egypte:hover h1{
    opacity: 0;
    transform: scale(0);
}


/* _____________________ presentation gaspard_____________________ */

#presentation_accueil_gaspard{
    display: flex;
    position: relative;
    top: 100vh;
    width: 100%;
    height: 100vh;
}
#presentation_accueil_gaspard img{
    height:  60vh;
    transition: .3s;
}
.presentation_accueil_gaspard_section_photo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: rgb(255, 243, 220);
    overflow: hidden;
}
#overlay_photo_gaspard {
    display: flex;
    justify-content: center;
    align-items: center;
}
   /* Apparition overlay sur passage souris */
   #overlay_photo_gaspard:hover #titre_photo_gaspard {
    opacity: 1;
    transform: scale(1.1); 
   }
   #overlay_photo_gaspard:hover  #photo_gaspard {
    transform: scale(0.9); 
    transition: .3s ;
    filter: blur(4px);
   }
   #overlay_photo_gaspard  h1{
    position: absolute;
    color: honeydew;
    font-size: 4em;
    transition: .3s ;
    opacity: 0;
    font-family: 'Hind Guntur', sans-serif;
}

#presentation_accueil_Gaspard_liens_destinations{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: lawngreen; */
    font-family: 'Hind Guntur', sans-serif;
}
#lien_taiwan{
    width: 100%;
    height: 45.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#lien_taiwan h1{
    position: absolute;
    font-size: 4em;
    color: rgb(153, 220, 122);
    transition: 1s;
}
#lien_taiwan img{
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    object-fit: cover;
}
#lien_taiwan:hover #presentation_equipe_image_lien_taiwan{
    opacity: 1;
}
#lien_taiwan:hover h1{
    opacity: 0;
    transform: scale(0);
}
#titre_choix_destination_gaspard{
    all: initial;
    font-size: 2em;
    color: rgb(73, 73, 73);
    text-align: center;
}
#presentation_accueil_Gaspard_liens_destinations hr{
    margin: 0.8vh;
    width: 50%;
}
#lien_mexique{
    width: 100%;
    height: 45.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#lien_mexique h1{
    position: absolute;
    font-size: 4em;
    color: rgb(153, 220, 122);
    transition: 1s;
}
#lien_mexique img{
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    object-fit: cover;
    object-position: 0px -200px;
}
#lien_mexique:hover #presentation_equipe_image_lien_mexique{
    opacity: 1;
}
#lien_mexique:hover h1{
    opacity: 0;
    transform: scale(0);
}




/* ___________________________ presentation Baptiste _____________________________________ */




#presentation_accueil_baptiste{
    display: flex;
    position: relative;
    top: 100vh;
    width: 100%;
    height: 100vh;
}
#presentation_accueil_baptiste img{
    height:  60vh;
    transition: .3s;
}
.presentation_accueil_baptiste_section_photo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: rgb(225, 220, 255);
    overflow: hidden;
}
#overlay_photo_baptiste {
    display: flex;
    justify-content: center;
    align-items: center;
}
   /* Apparition overlay sur passage souris */
   #overlay_photo_baptiste:hover #titre_photo_baptiste {
    opacity: 1;
    transform: scale(1.1); 
   }
   #overlay_photo_baptiste:hover  #photo_baptiste {
    transform: scale(0.9); 
    transition: .3s ;
    filter: blur(4px);
   }
   #overlay_photo_baptiste  h1{
    position: absolute;
    color: honeydew;
    font-size: 4em;
    transition: .3s ;
    opacity: 0;
    font-family: 'Hind Guntur', sans-serif;
}

#presentation_accueil_baptiste_liens_destinations{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: lawngreen; */
    font-family: 'Hind Guntur', sans-serif;
}
#lien_costa_rica{
    width: 100%;
    height: 45.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#lien_costa_rica h1{
    position: absolute;
    font-size: 4em;
    color: rgb(153, 220, 122);
    transition: 1s;
}
#lien_costa_rica img{
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    object-fit: cover;
}
#lien_costa_rica:hover #presentation_equipe_image_lien_costa_rica{
    opacity: 1;
}
#lien_costa_rica:hover h1{
    opacity: 0;
    transform: scale(0);
}
#titre_choix_destination_baptiste{
    all: initial;
    font-size: 2em;
    color: rgb(73, 73, 73);
    text-align: center;
}
#presentation_accueil_baptiste_liens_destinations hr{
    margin: 0.8vh;
    width: 50%;
}
#lien_bruxelles{
    width: 100%;
    height: 45.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#lien_bruxelles h1{
    position: absolute;
    font-size: 4em;
    color: rgb(153, 220, 122);
    transition: 1s;
}
#lien_bruxelles img{
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    object-fit: cover;
}
#lien_bruxelles:hover #presentation_equipe_image_lien_bruxelles{
    opacity: 1;
}
#lien_bruxelles:hover h1{
    opacity: 0;
    transform: scale(0);
}




/* ---------------- scroll fixes --------------------- */


#background_scroll_1{
    background-image: url(../media/photos/background_scroll_1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 100vh;
    height: 50vh;
    width: 100%;
}
#background_scroll_2{
    background-image: url(../media/photos/background_scroll_2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 100vh;
    height: 50vh;
    width: 100%;
}
#background_scroll_3{
    background-image: url(../media/photos/background_scroll_3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 100vh;
    height: 50vh;
    width: 100%;
}




























































































































  



















































































































































































































































































































































































































































































































































































































































































































