/* Espace libre pour rajouter des fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;900&display=swap');
/* début ligne Alexandre */



/* fin ligne Alexandre  */
/* début ligne Baptiste  */



/* fin ligne Baptiste  */
/* début ligne Gaspard  */



/* fin ligne Gaspard */



/* Style général, on n'y touche pas ! */
*{
padding: 0px;
margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
  }

/* fin style général */

/* <!-- début header + nav Baptiste--> */
.contenu_dessous {
  background-color: rgb(109, 177, 109);
  transform: translateY(-100vh);
}

.contenu_menu > input {
  outline: none;
  appearance: none;
  z-index: 2;
  display: block;
  position: fixed;
}

.burger {
  margin: 29px;
  color: white;
  transition: .8s;
}

.contenu_nav {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  transform:translateY(-100vh);
  transition: .8s;
  opacity: 0;
  z-index: 1;
  font-family: 'Poppins', sans-serif;
}

.burger:hover {
  cursor : pointer ; 
}

.burger:checked {
  color: black;
}

.burger:checked + .contenu_nav {
  transform:translateY(0);
  opacity: 1;
  top: 0;
  position: sticky ; 
  height: 100vh;
  transition: .8s;
}

/* ----------------------------------------------------------------------------------------------------CSS MENU DEROULANT-------------------------------------------------------------------------------------- */

#menu_deroulant  a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

#menu_deroulant > li {
  padding: 10px;
  margin: 10px;
}

#menu_deroulant {
  display: flex ; 
  justify-content: center;
  list-style: none;
  text-align: center;
}
#menu_deroulant ul > li {
  padding : 10px ; 
  list-style: none;
}

.deroulant1,.deroulant2 {
  overflow: hidden;
  
}
.deroulant1 {
  font-weight: 700;
} 

.deroulant1:hover .sous1 {
  max-height: 50em;
  opacity: 1;
}

.choix_continent:checked + .sous2 {
  max-height: 50em;
  opacity: 1;
}  

.choix_continent:after {
  content: "Europe";
}

.sous1,.sous2 {
  max-height: 0;
  opacity: 0;
  transition: all .5s;
  font-weight: 400;
}

.sous2 li {
  background-color: rgba(128, 128, 128, 0.548);
  border-radius: 2em;
  margin: 5px;
  font-size: 0.8em;
}

#menu_deroulant .arrow:after {
  content: "\279C" ;
  padding : 5px ; 
  display: inline-block;
  transition: .3s;
}

.deroulant1:hover .arrow:after {
  transform: rotate(90deg);
}

.deroulant2 input {
  outline: none;
  appearance: none;
  text-transform: uppercase;
  cursor: pointer;
}
.choix_continent:after {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
}
.asie:after {
  content : "Asie" ; 
}

.amerique:after {
  content : "Amérique" ; 
}

.afrique:after {
  content : "Afrique" ; 
}

/* ------------------------------------------------------------------------------------------------------------FIN CSS MENU DEROULANT------------------------------------------------------------------------------ */

/*---------------------------------------------------------------------------------------------------------------- CSS BANNIERE ------------------------------------------------------------------------------------*/
.banniere_photo {
 
  overflow: visible;
  width: 3000px;

}
.contenu_banniere_photo {
  display: flex;
  flex-wrap: nowrap;
  animation : translateX 30s infinite ; 
  
}
.contenu_banniere_photo div {
  width : 30vw ; 
}

.contenu_banniere_photo div img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

@keyframes translateX {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-90vw) ;
  }

  100% {
    transform: translateX(0);
  }
}

/* --------------------------------------------------------------------------------  CSS NEWSLETTER -------------------------------------------------------------------------------------------------------- */

.contenu_inscription_newsletter {
  display : flex ; 
  align-items: center;
}

.bloc_nl {
  width : 20% ; 
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px gray solid;
  padding: 30px;
  margin: 40px ; 
}

.searchbar {
  width: 60%;
  display: flex;
  justify-content: center;
}

.bloc_nl h1{
  font-size: 1vw;
  letter-spacing: 0.4em;
}

.bloc_nl p {
  font-size: 3vw;
  color: rgb(21, 21, 71);
  font-weight: 300;
  
}

.barre_recherche input {
  width : 30vw ;  
  padding: 30px;
  border: none;
  background-color:rgba(8, 8, 71, 0.712);
  outline: none;
}

.barre_recherche input:focus {
  background-color: rgba(8, 8, 71, 0.37) ;
}

.barre_recherche button {
  padding: 28px;
  color: white;
  background-color: rgb(8, 8, 71) ;
  border : none ; 
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  transition: .2s;
  outline: none;
}

.barre_recherche button:hover {
  background-color: white;
  color: rgb(21, 21, 71);
  border: 4px solid rgb(21, 21, 71) ;
  cursor: pointer;
}

.barre_recherche input::placeholder {
  color: white ; 
  font-size: 1.2em;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

/* ------------------------------------------ CSS RESEAUX SOCIAUX ----------------------------------------------*/
.contenu_nav .contenu_rs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenu_nav .contenu_rs a {
  text-decoration: none;
  color:  rgb(21, 21, 71) ;
  display: block;
  margin : 10px 20px ; 
  transition: .4s;
}

.contenu_nav .contenu_rs a:hover {
  transform: translateY(-5px) ; 
}

/* <!-- fin header Baptiste --> */
/* <!-- début main Alexandre--> */












































































































































































































































































































































































































































































































































/* <!-- fin main Alexandre --> */









































































































































































































