@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300&display=swap');/* Espace libre pour rajouter des fonts */
/* début ligne Alexandre */



/* fin ligne Alexandre  */
/* début ligne Baptiste  */



/* fin ligne Baptiste  */
/* début ligne Gaspard  */



/* fin ligne Gaspard */



/* Style général, on n'y touche pas ! */
*{
padding: 0px;
margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
  }

/* fin style général */

/* <!-- début header Alexandre--> */


*{
    margin: 0;
    padding: 0;
}

.fond-ecran {
    height: 100vh;
    width: 100%;
}

#click-travel{
    top: 20vh;
    left: 70vw;
    position: absolute;
    width: 8%;
}
/* #slider{
    position: relative;
} */
#slider a{
    top: 10vh;
    left: 10vw;
    position: absolute;
    color: rgb(153, 220, 122);
}
#slider h1{
    position: absolute;
    top: 68vh;
    left: 10vw;
    font-size: 10vh;
    color: cornsilk;
    font-family: 'Special Elite', cursive;
}
#slider h2{
    position: absolute;
    top: 80vh;
    left: 10vw;
    font-size: 8vh;
    color: rgb(153, 220, 122);
    font-family: 'Hind Guntur', sans-serif;
}


#slide1 {
    position: absolute;
    opacity: 1;
}
#slide2 {
    position: absolute;
    opacity: 0;
}
#slide3 {
    position: absolute;
    opacity: 0;
}
#slide4 {
    position: absolute;
    opacity: 0;
}
#slide5 {
    position: absolute;
    opacity: 0;
}
#slide6 {
    position: absolute;
    opacity: 0;
}
#slide7 {
    position: absolute;
    opacity: 0;
}
#slide8 {
    position: absolute;
    opacity: 0;
}
#slide9 {
    position: absolute;
    opacity: 0;
}
#slide10 {
    position: absolute;
    opacity: 0;
}
#slide11 {
    position: absolute;
    opacity: 0;
}



/* ________________________ présentation de l'équipe __________________________ */




#presentation_accueil_alex{
    display: flex;
    position: relative;
    top: 100vh;
    width: 100%;
    height: 100vh;

    background-color: darkturquoise;
}

#presentation_accueil_alex img{
    height:  60vh;
    transition: 1s;
}


.presentation_accueil_alex_section_photo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: gold;
}
#overlay_photo_alex {
    display: flex;
    justify-content: center;
    align-items: center;
}

   /* Apparition overlay sur passage souris */
   #overlay_photo_alex:hover #titre_photo_alex_islande {
    opacity: 1;
    transform: scale(1.1); 
   
   }
   #overlay_photo_alex:hover  #photo_alex_islande {
    transform: scale(0.9); 
    transition: .3s ;
    filter: blur(4px);
   }

   #overlay_photo_alex  h1{
    position: absolute;
    color: honeydew;
    font-size: 4em;
    transition: .3s ;
    opacity: 0;
}










































































































































































  







/* <!-- fin header Alexandre --> */
/* <!-- début naviguation Baptiste--> */






































































































































































































/* <!-- fin naviguation Baptiste--> */
/* <!-- début main --> */



/* <!-- section 1 Alexandre--> */



































































































/* <!-- fin section 1 Alexandre--> */
/* <!-- début section 2 Baptiste --> */


































































































/* <!-- fin section 2 Baptiste--> */
/* <!-- début section 3 Gaspard --> */



































































































/* <!-- fin section 3 Gaspard --> */

/* <!-- fin main --> */
/* <!-- début footer Gaspard--> */








































































































































































































/* <!-- Fin footer gaspard--> */