
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

#taiwan_body {
    all: initial;
}

.burger {
    color: black;
}

#taiwan_main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#taiwan_paralax {
    background-image: url("../media/photos/taiwan_accueil.jpg");
    min-height: 100vh; 
    min-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
#taiwan_titre {
      text-transform: uppercase;
      color: white;
      font-size: 10vh;
      font-family: 'Fredericka the Great', cursive;
      font-weight: normal;
  }

/* page 1 */

#taiwan_rectangle {
    margin-top: -17%;
}

#taiwan_page_1 {
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #434343;
}

#taiwan_page_1 iframe {
    height: 70vh;
    width: 80vw;
}

#taiwan_page_1 h1 {
    color: white;
    font-size: 5vh;
    font-family: 'Fredericka the Great', cursive;
    font-weight: normal;
    margin-bottom: 5%;
}

#taiwan_page_2 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#taiwan_page_3 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#taiwan_page_4 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* autres pages */

.img_container {
    height: 40vh;
    width: 40vw;
}

.taiwan_bloc_gauche {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 5%;
    width: 40vw;
}

.taiwan_bloc_gauche h2 {
    text-align: center;
    color: white;
    font-size: 5vh;
    font-family: 'Fredericka the Great', cursive;
    font-weight: normal;
}

.taiwan_bloc_gauche p {
    text-align: justify;
    font-family: 'Lato', sans-serif;
    margin: 5%;
    min-width: 30vw;
    min-height: 10vh;
    color: white;
}

.taiwan_bloc_gauche img {
    width: 100%;
    height: 100%;
}

.taiwan_bloc_droite {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 5%;
    width: 40vw;
}

.taiwan_bloc_droite h2 {
    text-align: center;
    color: white;
    font-size: 5vh;
    font-family: 'Fredericka the Great', cursive;
    font-weight: normal;
}

.taiwan_bloc_droite p {
    text-align: justify;
    font-family: 'Lato', sans-serif;
    min-width: 30vw;
    min-height: 10vh;
    margin: 5%;
    color: white;
}


.taiwan_bloc_droite img {
    width: 100%;
    height: 100%;
}

.taiwan_bloc_background {
    background-color: #4b97ce;
}

.taiwan_bloc_forme {
    margin-bottom: -10%;
}

#footer_contain_all {
    position: initial;
}