@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&family=Raleway:wght@300;400;800&display=swap');

/* -------------------------------------------------- CSS BLOC ACCUEIL ------------------------------------*/
*{
    box-sizing: border-box;
}


#section_accueil {
    height: 100vh;
    background-image: url(../media/photos/accueil_bx.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#section_accueil a {
    text-decoration: none;
    color: white;
}

.contenu_section_accueil {
    height: 100%;
}
/* bloc texte */

.accueil_texte {
    width: 50%;
    margin-left : 80px ; 
    padding-top : 100px ;
    color: white;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.288);
    padding: 30px;
}

.bouton {
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.bouton div {
    width: 8% ; 
    margin : 10px 0px ;
}

.bouton div:nth-child(2n){
    margin: 0px 20px ;
}

#discover {
    text-transform: uppercase;
    padding : 20px 0px ; 
    font-size: 0.8em;
}

.titre p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.titre h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
}

.titre h1,.titre p {
    padding : 10px 0px ; 
}

.bouton div img {
    width: 100%;
}

/* vignettes navigation */

.barre_navigation {
  display:flex;
  align-items: center;
  height: 30% ;
}

.contenu_barre_navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

.bloc_nav {
    width: 20%;
    transition: .5s;
}

.bloc_nav p {
    border-top: 1px solid rgba(255, 255, 255, 0.493);
    margin : 0px 25px ; 
    padding: 10px 0px;
}

.bloc_nav span {
    margin-right: 7px ;  
    font-weight: 700;
}

.bloc_nav::before {
    content: "";
    height: 3px ; 
    width : 0% ; 
    background-color: rgb(255, 255, 255);
    display: block;
    margin : 0px 25px; 
    border-radius: 2em;
    transform: translateY(2px);
    transition: .5s;
}

.bloc_nav:hover {
    cursor : pointer ; 
    background-color: rgba(0, 0, 0, 0.582) ;
}

.bloc_nav:hover::before {
    width: 82% ; 
}
/* -------------------------------------------------- FIN CSS BLOC ACCUEIL ------------------------------------*/

/* -------------------------------------------------- CSS SECTION BOIRE UN VERRE -----------------------------*/

#boire_un_verre {
    background-color: rgba(0, 0, 0, 0.726);
    color: white;
    height: 100vh;
}

.contenu_boire_un_verre {
    height: 100%;
}
/* CSS DU TITRE */
.titre_boire_un_verre {
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    padding: 30px;
}
.titre_boire_un_verre h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titre_boire_un_verre h1:before, .titre_boire_un_verre h1:after {
    content:"" ; 
    width: 30px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.671);
    display: block;
    border-radius: 2em;
}

.titre_boire_un_verre h1:before {
    margin-right: 20px;
}

.titre_boire_un_verre h1:after {
    margin-left: 20px;
}

/* CSS DESCRIPTION */
.partie_texte{
    display: flex;
    align-items: center;

}

.image_boire_un_verre {
    width : 40%; 
    margin: 0px 20px  ; 
    
}

.image_boire_un_verre div {
    box-shadow: 40px 40px 0px 0px rgba(255, 255, 255, 0.288);
    width: 60%;
    margin: auto;
    font-size: 0;
}
.image_boire_un_verre div img {
    object-fit: cover;
    width: 100%;
    
}

.texte_boire_un_verre {
    width: 70%;
    font-family: 'Raleway', sans-serif;
    padding: 40px;
}

.texte_boire_un_verre h2 {
    font-size: 1.8em;
    padding: 30px 0px;
    text-transform: uppercase;
}

.texte_boire_un_verre > p {
    padding: 10px 0px;
    line-height: 1.8em;
}

.position {
    display: flex;
    align-items: center;
    padding: 20px 0px;
}

.position i {
    margin-right: 15px;
}

/* CSS BOUTON */

.bouton_texte form {
    margin-top: 50px;
}

button {
    padding: 20px;
    border : 2px solid white ;
    text-transform: uppercase;
    background: none;
    color: white;
    transition: all 0.5s;
    position: relative;
    outline: none;
    font-weight: 700;

}

button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}
button:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
}
button:hover::after {
    opacity: 1;
    transform: scale(1,1);
}

button:hover {
    cursor: pointer;
}

/* CSS SECTION NOURRITURE */

#nourriture {
    height: 100vh;
    display: flex;
}

.contenu_nourriture {
    width: 20% ; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.89);
}

.bandeau_couleur {
    width: 100%;
    height: 100%;
    
}

.presentation_nourriture {
    width : 80% ; 
}

.contenu_presentation_nourriture {
    height: 100%;
}

.texte_nourriture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.texte_nourriture h1 {
    font-family: 'Playfair Display', serif;
    color: rgba(0, 0, 0, 0.89);
    font-size: 1.8em;
    padding: 30px;
}

.texte_nourriture p {
    font-family: 'Raleway', sans-serif;
    padding: 0px 30px;
    line-height: 1.8em;
    width: 60% ; 
}

/* CSS VIGNETTES */

.vignettes_nourriture {
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: 'Raleway', sans-serif;
}

.vignette {
    width: 30%;
    text-align: center;
    margin: 30px 20px 0px 20px;
    background-color: rgba(228, 226, 226, 0.349);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height : 55vh ; 
    overflow: hidden;
}

.conteneur_img {
    height : 25vh ; 
    overflow: hidden;
}

.vignette .bloc_img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: .7s;
}

.vignette .bloc_img:hover {
    transform : scale(1.1);
}

.moule_frite .bloc_img {
    background-image: url(../media/photos/moules_frites.jpg);
}

.stoemp .bloc_img {
    background-image: url(../media/photos/stoemp.jpg);
}

.gauffre .bloc_img {
    background-image: url(../media/photos/gauffres.jpg);
}

.texte_vignette {
    width: 80%;
    margin: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    padding: 10px;
    transform: translateY(-15px);
}

.texte_vignette p {
    font-size: 0.8vw;
    padding: 5px;
    text-align: center;
}

.texte_vignette h3 {
    font-size: 1.4vw;
    padding: 10px;
}

 
/* CSS PAGE ATOMIUM */

#atomium {
    height : 100vh ; 
    background-color: rgba(0, 0, 0, 0.726);
    font-family: 'Raleway', sans-serif;
}

#atomium h1 {
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    padding: 20px 10px;
}

#atomium p {
    line-height: 1.8em;
    padding: 10px;
}
.bloc_titre {
    padding: 30px;
}
#atomium button {
    color: rgba(0, 0, 0, 0.466) ;
    border : 2px solid rgba(0, 0, 0, 0.466) ;
    margin-left: 10px ;
    margin-top: 20px;
}
#atomium button:before {
    background-color: rgba(0, 0, 0, 0.1);
}

#atomium button:after {
    background-color: rgba(0, 0, 0, 0.37);
}
.contenu_atomium {
    display: flex;
    align-items: center;
    height: 100%;
}

.bloc_titre {
    width : 60% ; 
    background-color: white;
    margin-right: 40px ; 
}

.bloc_img {
    width : 40% ; 
    display: flex;
}

.bloc_img > div {
    width: 50%;  
}

.bg_ato {
    background-repeat: no-repeat;
    background-size: cover;
    height: 38vh;
    width: 80% ;
    margin : 20px 0px ;
    display: flex;
    align-items: center;
}
.image3_4 {
    margin-top: 60px;
}
.image_1 {
    background-image: url(../media/photos/atomium.jpg);
}

.image_2 {
    background-image: url(../media/photos/ato_2.jpg);
}

.image_3 {
    background-image: url(../media/photos/ato_3.jpg);
}

.image_4 {
    background-image: url(../media/photos/ato_4.jpg); 
}

.rectangle {
    width: 90%;
    margin: auto;
    height: 90%;
    border: 2px solid rgba(255, 255, 255, 0.61);
    
}

#footer_contain_all {
    top: initial !important;
}