@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


main{
    width: 100%;
    height: 100%;
}
html{
overflow
}

video{
    width: 100%;
}
#section_video{
    height: 100vh;
    overflow: hidden;
}

#titre_sur_video{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25vh;
    background-color: rgb( 0, 0, 0, 0.8);
    position: relative;
    top: -25Vh;
}
#titre_sur_video h1{
    color: rgb(238, 238, 238);
    font-family: 'Balsamiq Sans', cursive;
    font-size: 3em;
    padding-top: 3vh;
    padding-left: 5vw;
}

#titre_sur_video h2{
    color: rgb(167, 125, 125);
    
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    padding-top: 3vh;
    padding-left: 5vw;
}
#titre_sur_video a{
    height: 2vh;
    text-decoration: none;
    padding: 1vh;
    border-radius: 30px;
    border: 1px solid white;
    color: rgb(194, 194, 194);
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
    font-family: 'Balsamiq Sans', cursive;
    position: relative;
    bottom: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
}
#titre_sur_video a:hover{
   transform: scale(1.1);
   border: 1px solid rgb( 0, 0, 0, 0);
   color: rgb(167, 125, 125);
  
}

#présentation_islande{
    background-color: rgb(235, 235, 235);
    position: relative;
    top: -25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#présentation_islande h1{
color: rgb(78, 78, 78);
font-size: 4vh;
font-family: 'Balsamiq Sans', cursive;
}
#présentation_islande h2{
    color: rgb(167, 125, 125);
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    width: 90%;
    }
#image_présentation{
    border-radius: 30px;
}
#présentation_islande ol li, a{
    text-decoration: none;
    color: rgb(78, 78, 78);
    font-size: 1.5em;
    transition: 0.5s;
    border-radius: 10px;
}

#présentation_islande ol li a:hover{
    background-color: rgb(167, 125, 125);
    color: white;
}


#présentation_islande p{
    width: 50vw;
    font-family: 'Balsamiq Sans', cursive;
    color: rgb(78, 78, 78);
    font-size: 1.1em;
    text-align: justify;
    margin-bottom: 5vh;
}

#présentation_islande>*{
    margin-top: 5vh;
}
#présentation_islande h3{
    font-size: 1.5em;
    color: rgb(49, 49, 49);
}


#remonter{
    position: -webkit-sticky;
    position: sticky;
    top: 5vh;
    left: 90vw;
}

#footer_contain_all {
    position: initial;
}