@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Raleway:wght@300;400;700;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/* STYLE SECTION PRESENTATION --------------------------------------------------------------------*/

#accueil_costa_rica {
    height:100vh ; 
    background-image: url(../media/photos/costa_rica.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.contenu_accueil_costa_rica {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  
  .contenu_accueil_costa_rica h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 6vw;
  }
  
  .contenu_accueil_costa_rica div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contenu_accueil_costa_rica p {
    font-family: ;
    padding: 40px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }
  .contenu_accueil_costa_rica i {
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation: bounce 3.6s ease infinite;
    transform-origin: 50% 50%;
    animation-name: bounce;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    5.55556% {
      transform: translateY(0);
    }
    11.11111% {
      transform: translateY(0);
    }
    22.22222% {
      transform: translateY(-15px);
    }
    27.77778% {
      transform: translateY(0);
    }
    33.33333% {
      transform: translateY(-15px);
    }
    44.44444% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  /* STYLE SECTION FORM */
  
  #faune {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.815);
    padding : 40px ;
}

.texte_faune h1 {
  font-size: 3vw;
}

.texte_faune h1, .texte_faune p {
  padding: 25px;
}

.texte_faune p {
  line-height: 1.5em;
  font-size : 1.3vw;
}

.texte_faune span {
  color: #80b04b;
}

.image {
  height: 35vh ; 
  background-size: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  
}

.contenu_faune {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.966);
  border-radius: 3em;
}

.texte_faune {
  width: 50%;
}

.photo_faune {
  width: 50%;
}

.grenouille {
  background-image: url(../media/photos/grenouille.jpg);
  
}

.oiseau {
  background-image: url(../media/photos/perroquet.jpg);
  
}

/* CSS SECTION ACTIVITE */

#activite_costarica {
  height : 100vh ; 
  background-image: url(../media/photos/ivan-bandura-Sv27cxiX4lk-unsplash.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
}

.contenu_activite_costarica {
  display: flex;
  justify-content: center;
}

.vignette_activite {
  width : 25% ; 
  margin : 10px 50px; 
  background-color: white;
  border-radius: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
}

.vignette_activite div {
  width : 100% ;
}

.vignette_activite div img {
  width : 100% ; 
  object-fit: cover;
  border-radius: 2em 2em 0% 0%;
}

.vignette_activite p {
  font-size: 1vw;
  padding : 20px ; 
}

.vignette_activite h3 {
  font-size : 1.5vw ; 
  padding: 10px;
}

.vignette_activite input {
  padding: 10px;
  margin: 20px;
  border-radius: 2em;
  border: 2px solid #80b04b;
  outline: none;
  color : #80b04b ; 
  background-color: white ; 
  text-transform: uppercase;
  font-weight: 700;
  transition : .3s ;
  font-size: 0.8vw;
}

.vignette_activite input:hover {
  cursor: pointer;
  color: white;
  background-color: #80b04b;
}

/* CCS section provinces */
.contenu_region h1 {
  font-size: 2vw;
  background-color:  rgba(0, 0, 0, 0.815) ;
  color: white;
  padding: 30px 30px 0px 30px;
}

.contenu_region span {
  color : #80b04b ;
}
.province {
  width : 100% ; 
  display: flex;
  align-items: center;
  padding: 30px;
}

.bloc_img {
  width : 40% ;
}

.bloc_txt {
  width : 60% ; 
  line-height: 2.2em;
  padding: 40px;
}

.bloc_txt p {
  font-size: 1.2vw;
}

.bloc_txt h3 {
  font-size : 1.8vw ; 
  padding: 20px 0px;
}

.bloc_img div {
  background-size: cover;
  background-repeat: no-repeat;
  width: 80% ; 
  height : 50vh ; 
  margin: 50px auto;
  box-shadow: 60px 60px 0px -29px #7fb04b88;
}

.alajuela .bloc_img div {
  background-image: url(../media/photos/alajuela.jpeg);
}

.sanjose .bloc_img div {
  background-image: url(../media/photos/chalo-garcia-eGEPALRGiQk-unsplash.jpg);
  box-shadow: -60px 60px 0px -29px #7fb04b88;
}
.limon .bloc_img div {
  background-image: url(../media/photos/limon.jpg);
}

.alajuela , .limon {
  background-color:  rgba(0, 0, 0, 0.815) ;
  color: white;
}


#footer_contain_all {
  position: initial;
}
