/* Espace libre pour rajouter des fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;900&display=swap');
/* début ligne Alexandre */



/* fin ligne Alexandre  */
/* début ligne Baptiste  */

.contenu_menu > input {
  outline: none;
  appearance: none;
  z-index: 2;
  display: block;
  position: fixed;
}

.burger {
  margin: 29px;
  color: white;
  transition: .8s;
}

.contenu_nav {
  overflow: hidden;
  background-color: wheat;
  transform:translateY(-100vh);
  transition: .8s;
  opacity: 0;
  z-index: 1;
  font-family: 'Poppins', sans-serif;
}

.burger:hover {
  cursor : pointer ; 
}

.burger:checked {
  color: black;
  transform: rotate(360);
}

.burger:checked + .contenu_nav {
  transform:translateY(0);
  opacity: 1;
  top: 0;
  position: sticky ; 
  height: 100vh;
  transition: .8s;
}

/* CSS MENU DEROULANT */

#menu_deroulant  a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

#menu_deroulant > li {
  padding: 10px;
  margin: 10px;
}

#menu_deroulant {
  display: flex ; 
  justify-content: center;
  list-style: none;
  text-align: center;
}
#menu_deroulant ul > li {
  padding : 10px ; 
  list-style: none;
}

.deroulant1,.deroulant2 {
  overflow: hidden;
  
}
.deroulant1 {
  font-weight: 700;
} 

.deroulant1:hover .sous1 {
  max-height: 50em;
  opacity: 1;
}

.choix_continent:checked + .sous2 {
  max-height: 50em;
  opacity: 1;
}  

.choix_continent:after {
  content: "Europe";
}

.sous1,.sous2 {
  max-height: 0;
  opacity: 0;
  transition: all .5s;
  font-weight: 400;
}

.sous2 li {
  background-color: rgba(128, 128, 128, 0.548);
  border-radius: 2em;
  margin: 5px;
  font-size: 0.8em;
}

#menu_deroulant .arrow:after {
  content: "\279C" ;
  padding : 5px ; 
  display: inline-block;
  transition: .3s;
  
}

.deroulant1:hover .arrow:after {
  transform: rotate(90deg);
}

.deroulant2 input {
  outline: none;
  appearance: none;
  text-transform: uppercase;
  cursor: pointer;
}

.asie:after {
  content : "Asie" ; 
}

.amerique:after {
  content : "Amérique" ; 
}

.afrique:after {
  content : "Afrique" ; 
}



/* FIN CSS MENU DEROULANT */


/* fin ligne Baptiste  */
/* début ligne Gaspard  */



/* fin ligne Gaspard */



/* Style général, on n'y touche pas ! */
*{
padding: 0px;
margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
  }

/* fin style général */

/* <!-- début header Alexandre--> */



























































































































































































  







/* <!-- fin header Alexandre --> */
/* <!-- début naviguation Baptiste--> */






































































































































































































/* <!-- fin naviguation Baptiste--> */
/* <!-- début main --> */



/* <!-- section 1 Alexandre--> */



































































































/* <!-- fin section 1 Alexandre--> */
/* <!-- début section 2 Baptiste --> */


































































































/* <!-- fin section 2 Baptiste--> */
/* <!-- début section 3 Gaspard --> */



































































































/* <!-- fin section 3 Gaspard --> */

/* <!-- fin main --> */
/* <!-- début footer Gaspard--> */








































































































































































































/* <!-- Fin footer gaspard--> */